.support{
            width:74%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            margin-top: 10%;
            margin-left: 25%;
            margin-bottom: 10%;
        }