.firstDiv{
   display: flex;
}

.secDiv{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 5%;
}
.aboutClass{
    margin-left:5%; 
    margin-right: 2%;
}
.titleClass{
    margin-left:  5%;
    margin-top:100px ;
}

.firstImg{
    padding-left: 77px;
    padding-right: 30px;
    padding-top: 30px;
}
.pClass{
    font-size: 20px;
    padding-left: 30px;
    padding-top: 60px;
    padding-right: 80px;
}
.btn-Class{
    width: 200px;
    margin-top: 4%;
}

.secImg{
    width: 1300px;
    margin-left: 77px;
    margin-top: 40px;
    width: 500px;
    height: 500px;
}

