.teachers{
    width:100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.teachers-container{
    width:90%;
    margin-left: 30vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 15%;
}