.container{
	text-align: center;
	margin-top: 30px;
    width: 400px;
    border: black 1px;
}


.options{
// display: flex;
align-items: center;
// width: 350px;
width: 295px;
margin: 0 auto;
padding: 10px;
}


 .list{
	cursor: pointer;
	opacity: .8;
	transition: all .2s ease;
	
	&:hover{
	opacity: 1;
    }
		
	&.active{
	opacity: 1;
       }
		
    }
.account-form{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 30px;
    width: 340px;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}


.account-form-fields{
    display: flex;
	flex-direction: column;
	overflow: hidden;
	transition: all .4s cubic-bezier(.785,.135,.15,.86);

	&.sign-in{
    max-height: 13vh;
    }
	&.sign-up{
    // max-height: 250px
    }
		
	
	&.forgot{
    max-height: 6vh;
    }
		
}
	

	//  input{
    //     border: 0;
	// 	margin-bottom: 10px;
	// 	padding: 15px;
	// 	font-size: 1rem;
	// 	font-family: Nunito, sans-serif;
	// 	color: #000;
	// 	border-radius: 5px;
	
	// 	&::placeholder{
    //     color: #aaa
    //     }
	// 	&::-webkit-input-placeholder{
    //     color: #aaa
    //     }
	// 	&:-ms-input-placeholder{
    //     color: #aaa
    //     }
	// 	&:focus{
    //      outline: none
    //     }
			
    //  }
	
	
.btn-submit-form{
	border: 0;
	// appearance: none;
	// -webkit-appearance: none;
	// -moz-appearance: none;
	cursor: pointer;
	padding: 15px 0;
	border-radius: 5px;
	color: #fff;
	font-size: 1rem;
	font-family: Nunito, sans-serif;
	box-shadow: 0px 1px 2px rgba(0,0,0,.13);
	transition: all .2s ease;
	
}
.btn-custom {
    background-color: #ef2853;

}
.sighIn{
    width:26% ;
    height:62%;
    background:rgba(255, 255, 255, 0.95);
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 20px;
    position: relative;
    top: 20%;
    // left: 20%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.sign{
	width: 22%;
	height: 62%;
	// float:left;
	background-color: #ef2853;
	border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
	position: relative;
    top: 20%;
}
.join{
	color: #fff;
	font-size: 60px;
	font-family:Verdana, Geneva, Tahoma, sans-serif ;
	padding: 55px;
	text-align: center;
}