.container{
	text-align: center;
	margin-top: 30px;
    width: 400px;
    border: black 1px;
}

.options{
align-items: center;
width: 295px;
margin: 0 auto;
padding: 10px;
}


 .list{
	cursor: pointer;
	opacity: .8;
	transition: all .2s ease;
	&:active , &:focus{
		box-shadow: none;
		outline: none;
	}
	&:hover{
	opacity: 1;
    }
		
	&.active{
	opacity: 1;
       }
		
    }
.account-form{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 30px;
    width: 340px;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}


.account-form-fields{
    display: flex;
	flex-direction: column;
	overflow: hidden;
	transition: all .4s cubic-bezier(.785,.135,.15,.86);

	&.sign-in{
    max-height: 13vh;
    }
	&.sign-up{
    // max-height: 250px
    }
		
	
	&.forgot{
    max-height: 6vh;
    }
		
}
	
	
.btn-submit-form{
	border: 0;
	cursor: pointer;
	padding: 15px 0;
	border-radius: 5px;
	color: #fff;
	font-size: 1rem;
	font-family: Nunito, sans-serif;
	box-shadow: 0px 1px 2px rgba(0,0,0,.13);
	transition: all .2s ease;
	
}
.btn-custom {
    background-color: #ef2853;

}
.sighIn{
    width:26% ;
    height:62%;
    background:rgba(255, 255, 255, 0.95);
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 20px;
    position: relative;
    top: 20%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.sign{
	width: 22%;
	height: 62%;
	background-color: #ef2853;
	border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
	position: relative;
    top: 20%;
}
.join{
	color: #fff;
	font-size: 3.7rem;
	font-family:Verdana, Geneva, Tahoma, sans-serif ;
	padding: 20% 12%;
	text-align: center;
}