.home{
    width:45% ;
    height:50%;
    background:#fff;
    margin-top:10%;
    margin-right:10%;
    display: flex;
    justify-content: center;
    padding: 20px;
}
h1{
font-size: 60px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: rgb(22, 22, 22);
}