.textContainer {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    color: white;
    height: 60%;
    justify-content: space-between;
  }
  
  .activeContainer {
    display: flex;
    align-items: center;
    margin-bottom: 50%;
    padding: 6%;
  }
  
  .activeItem {
    display: flex;
    align-items: center;
  }
  
  .activeContainer img {
    padding-left: 10px;
  }
  
  .textContainer h1 {
    margin-bottom: 0px;
  }
  
  @media (min-width: 320px) and (max-width: 1200px) {
    .textContainer {
      display: none;
    }
  }
  
  .people{
    position: relative;
    right: 8vw;
    top: -4vw;
  }

  .infoBar2{
    display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 5px solid rgb(255, 25, 73);
      border-radius: 4px 4px 0 0;
      height: 60px;
      width: 100%;
      color: white;
      margin-top: 0;
      /* padding: 7%; */
  }