.about{
    width:44% ;
    height:72%;
    background:rgba(255, 255, 255, 0.95);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    position: relative;
    top: 13%;
    left: 10%;
    border-radius: 10px;
}

.sub1{
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: rgb(22, 22, 22);
    }
    .sub1:after {
        content: "";
        display: block; 
        margin-left:10px; 
        width: 15%; 
        padding-top: 10px;
        border-bottom: 3px solid #ef2853; 
    }
    .par1{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 17px;
    margin-top: -10%;
    
    }
    .img2{
    z-index: 5;
    width: 430px;
    height: 130px;
    position: absolute;
    margin-left: 35%;
    margin-top: -3%;
    }