.contact{
    width:35% ;
    height:59%;
    background:rgba(255, 255, 255, 0.95);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    position: relative;
    top: 23%;
    left: 33%;
    border-radius: 10px;
}

.sub2{
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: rgb(22, 22, 22);
    }

    .sub2:after {
        content: "";
        display: block; 
        margin-left:10px; 
        width: 30%; 
        padding-top: 10px;
        border-bottom: 3px solid #ef2853; 
    }

    .par2{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 17px;
    
}
