#userAccountContainer{
    margin: 5% 5% 5% 3%;
    // text-align: center;
    width:80%;
    display: grid;
    grid-template-columns: 40% 60%;
    max-height: 65vh;
}

.userNavDiv {
    position: sticky;
    top: 0;
    width: 17em;
    margin: 5px 0px 5px 5px;
    justify-self: end;
    background-color: black;
    box-shadow: 0 0 5px black;
    text-align: center;
    // height: 60vh;
    // max-height: 65vh;
    ul {
        display: flex;
        flex-direction: column;
        align-content:space-between;    
        margin-top: 0%;
        // padding: 2em;
        li {
            list-style: none;
            margin-left: -2%;
            // margin: 5% 2% 5% -10%;
            padding: 1em 0.5em;
            span {
                display: inline;
                text-decoration: none;
                padding: 1.5% ;
                color: white;
                font-size: larger;
                font-weight: bolder;
                margin: 0;
                transition: all 0.2s linear 0s;
                &:before    {
                    content: url('../../../assets/arrow-right.svg');
                    opacity: 0;
                    transition: all 0.2s linear 0s;
                }
                &:hover {
                    color: #FF1949;
                    text-indent: -20px;
                    &:before {
                        opacity: 1;
                        text-indent: 0px;
                      }
                }
                &.active {
                    color: #FF1949;
                    text-indent: -20px;
                    &:before {
                        opacity: 1;
                        text-indent: 0px;
                    }
                }  
            }
        }
    }    
}
