#root{
    overflow-x: hidden;
}

.grid{
display: grid;
grid-template-columns: 1fr 4fr;
}

.dev {
    background-image: url(./dashboard.gif);
    background-size: cover;
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    z-index:-1;


}
.words {
    position: absolute;
    top:20%;
    z-index: 5;
    margin-left: 22%;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color:#fff;
    
}
.words h3{
    font-size: 32px;
    
}
.whyChoose{
    width:30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5%;
    margin-left: 25%;

}
.sub5{
    font-size: 38px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: rgb(22, 22, 22);
    }
    .sub5:after {
        content: "";
        display: block; 
        margin-left:10px; 
        width: 15%; 
        padding-top: 10px;
        border-bottom: 3px solid #ef2853; 
    }

    .progress-bar{
        background: none !important;
    }

    .rate{
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .progresss{
        display: flex;
        flex-direction: column;
        margin-top: 4%;
    }
    .inner-rect-bar{
        background-color:#ef2853 !important;
    }
    .courses{
        margin-left: 21% ;
    }

    .timeline{
        margin-top: 5%;
        margin-left: 13%;
    }
    .slideShow{
        margin-left: 20%;
        width:84%;
        margin-bottom:5%;
    }